root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{py,sh,bat,cmd,bat,sh,cfg}]
indent_style = space
indent_size = 4

[*.{json,yml,yaml,toml}]
indent_style = space
indent_size = 2


[*.{xml,qrc}]
indent_style = space
indent_size = 2

[{.clang-tidy,.clang-format}]
indent_style = space
indent_size = 2
